#map {
   width: 1000%;
   padding: 2px;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}

#loading{
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


.UserLine{
  float: right;
  justify-content: right;
  width: 50%;
  border-radius: 15px;
  background-color: #277375;
  padding-right: 10px;
  margin: 1px;
}

.BotLine{
  float: left;
  justify-content: left;
  width: 50%;
  border-radius: 15px;
  background-color: #232c43;
  color: white;
  padding-left: 10px;
  margin: 2px;

}

#u_input{
  width: 80%;
}
