.map {
        height: 100%;
      }

@keyframes rotation {
  from {
      transform: rotate(0deg);
  } to {
      transform: rotate(360deg);
  }
}

#loading{
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


.UserLine{
  display: flex;
  justify-content: right;
  width: 50%;
  border-radius: 15px;
  background-color: lightgray;
}

.BotLine{
  display: flex;
  justify-content: left;
  width: 50%;
  border-radius: 15px;
  background-color: darkgray;
  color: white;

}
