{% extends 'base.html' %}
{% block content %}
<header class="jumbotron" >
  <h1>A propos de GrandPy Bot:</h1>
</header>
<div class="container">
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">A propos de l'application</h5>
            <p class="card-text">Cette application a été créée en réponse au projet n°7 du Parcours Développeur d'Application Python d'OpenClassrooms. Le but étant de déployer une première WebbApp "complète".
              <br>Pour plus d'informations, vous retrouverez le sujet <a href="https://openclassrooms.com/fr/paths/68/projects/158/assignment">ici</a>.<br>
            </p>

          </div>
        </div>
      </div>
      <div class="col-12 col-lg-9">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Les Technologies</h5>
            <p class="card-text">Elle a été développé avec HTML5/CSS3 avec Bootstrap. La partie front-end est gérée avec JavaScript (jQuery) et la partie back-end avec Python (plus précisément Flask).<br>
            Les versions ont été gérées via Git (dont le lien du dépôt est disponible en bas de la page), et la planification par un tableau
            <a href="https://trello.com/b/J4D31FEi/grandpy-bot">Trello</a>. ENfin</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
