{% extends 'base.html' %}
{% block content %}

<header class="jumbotron" >
      <h1>Posez votre question à GrandPy !</h1>
    </header>
  <div class="container">

    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <img class="w-100" src="{{grandpy}}">
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
            <div id="chat" class="card-body">
            <h5 class="card-title">Que veux tu me demander ?</h5>
            <div id="chatBox"></div></div>
              <input type="text" name="u_input" id="u_input" placeholder="Message"/>
              <span id="waiting"></span>
            </div>
        </div>
      </div>
      </div>
      <script src="/static/js/script.js" charset="utf-8"/>
  {% endblock %}
