{% extends 'squelette.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1>Posez votre question à GrandPy !</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <img class="w-100" src="{{gp_image}}">
            <p class="card-text">insertion et modification éventuelle d'une image de GrandPy. Formulaire en dessous</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">API GOOGLE MAPS</h5>
            <p class="card-text">cadre avec adresse demandée</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Le saviez-vous ?</h5>
            <p class="card-text">Ici sera affichée l'annecdote</p>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}