{% extends 'squelette.html' %}
{% block content %}

<header class="jumbotron" >
      <h1>Posez votre question à GrandPy !</h1>
    </header>
  <div class="container">
    
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <img class="w-100" src="{{gp_welcome}}">
            <form onsubmit="toggle()">
              <label for="ask">Que veux-tu ?</label>
              <input name="ask" id="ask" type="text">
              <input id="bouton" type="submit" value="Demander !">
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">API GOOGLE MAPS</h5>
            <p class="card-text" id="map"><iframe src="https://www.google.com/maps/embed/v1/search?key={{map_key}}&q={{ask}}" allowfullscreen>
            </iframe></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Le saviez-vous ?</h5>
            <p class="card-text">Ici sera affichée l'annecdote</p>
          </div>
        </div>
      </div>
    </div>

  {% endblock %}